@import 'styles/sidebar.scss';
@import 'styles/dashboard.scss';

:root {
  /* Variables */
  --theme-bg: var(--theme-elevation-0);
  // --theme-input-bg: var(--theme-elevation-0);
  --theme-text: var(--theme-elevation-800);
  --theme-overlay: rgba(5, 5, 5, 0.5);
  --font-body: Inter, 'Segoe UI', Tahoma, Geneva, sans-serif;
  // --font-mono: monospace;
  // --font-serif: 'Merriweather', serif;
  // --style-radius-s: 4px;
  // --style-radius-m: 8px;
  // --style-radius-l: 16px;
  // --nav-width: 224px;
}

/* ------------------------------ Admin Avatar ------------------------------ */
.app-header__account {
  text-decoration: none;
}
