/* --------------------------- Nav groups order -------------------------- */
.nav__wrap {
  .nav-group {
    // &.Collections {
    //   order: 1;
    // }
    // &.Studio {
    //   order: 2;
    // }
    &.Customize {
      order: 3;
    }
    &.Uploads {
      order: 20;
    }
    &.Settings {
      order: 30;
    }
  }
  // controls is a direct child with just nav__controls class
  > .nav__controls {
    order: 99;
  }
}
/* ----------------------------------- // ----------------------------------- */

/* ------------------------ Dashboard groups order ------------------------ */
.dashboard__wrap {
  .dashboard__group {
    &:nth-of-type(1) {
      order: 1;

      // .dashboard__label {
      //   display: none;
      // }
    }
    &:nth-of-type(2) {
      order: 2;
    }

    // Uploads
    &:nth-of-type(3) {
      order: 20;
    }

    // Settings
    &:nth-of-type(4) {
      order: 30;
    }

    // Customize
    &:nth-of-type(5) {
      order: 4;
    }
  }
}
