**/payload-types.ts
.tmp
**/.git
**/.hg
**/.pnp.*
**/.svn
**/.yarn/**
**/build
**/dist/**
**/node_modules
**/temp
src/services/database/migrations/**/*
src/app/(payload)/**/*
!src/app/(payload)/custom.scss
pnpm-lock.yaml
package-lock.json
