.btn {
  border-radius: 5px;
  font-weight: 600;
  border-radius: 5px;
  font-weight: 500;
  padding-inline: 1.5rem;
  padding-block: 0.25rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

// Admin Avatar
.app-header__account {
  text-decoration: none;
}
