.LogoWrapper {
  display: block;
  width: max-content;
  max-width: 50%;
  max-height: 2rem;
  // width: auto;

  position: absolute;
  top: 1.25rem;
  right: 1.25rem;

  // border: solid 1px red;

  svg {
    width: auto;
    max-height: 1.625rem;
    height: 100%;
  }
}

.NavbarLogo {

  svg {
    max-height: 15px;
  }
}

.afternav--wrapper {
  display: block;
  width: max-content;
  max-width: 50%;
  max-height: 2rem;
  margin-bottom: 1rem;
  // width: auto;

  // position: absolute;
  // top: 1.25rem;
  // right: 1.25rem;

  // border: solid 1px red;

  .afternav--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;

    // border: solid 1px blue;

    p {
      height: 100%;
      font-size: x-large;
      line-height: 100%;
      font-family: 'Poppins', sans-serif;

      // border: solid 1px red;
    }
  }

  svg {
    width: auto;
    max-height: 1.625rem;
    height: 100%;
  }
}

// .nav-group.Studio {
//   .nav-group__label,
//   .nav-group__toggle {
//     display: none;
//   }
// }
